[user]
    name = Danilo
    email = dabio@users.noreply.github.com
    signingkey = A4C2D9D3
[core]
    editor = "/usr/bin/vim"
    excludesfile = /Users/dan/.config/git/ignore
[color]
    ui = true
[status]
#    short = 1
    branch = 1
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[push]
	default = simple
[commit]
	gpgsign = true
