"*":
  "command-palette": {}
  core:
    disabledPackages: [
      "exception-reporting"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-typescript"
      "metrics"
      "styleguide"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "SFMono-Light"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting": {}
  "go-plus":
    format: {}
    lint: {}
    panel:
      fontSize: "12px"
    test:
      coverageDisplayMode: "gutter"
      runTestsOnSave: false
  "nord-atom-syntax":
    accessibility: {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  tabs: {}
  welcome:
    showOnStartup: false
".source.toml":
  editor:
    tabLength: 2
