'exception-reporting': {}
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics': {}
'editor':
  'showInvisibles': true
  'softWrap': true
  'softWrapAtPreferredLineLength': true
  'fontFamily': 'source code pro'
  'fontSize': 15
'core':
  'themes': [
    'atom-light-ui'
    'atom-light-syntax'
  ]
  'disabledPackages': [
    'metrics'
    'exception-reporting'
  ]
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
  'showOnRightSide': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
'autoclose-html':
  'closeOnEndOfOpeningTag': true
